.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 80vw;
}

.example-margin {
    margin: 0 10px;
}