<div>
    <mat-drawer-container class="example-container" autosize>
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
            <span class="ml-2"></span>
            <span>My App</span>
        </mat-toolbar>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <ul>
                <li class="menu-nav">
                    <a routerLink="/about">About</a>
                </li>
                <li class="menu-nav">
                    <a routerLink="/skill">Skill</a>
                </li>
                <li class="menu-nav">
                    <a routerLink="/users">Users</a>
                </li>
            </ul>
        </mat-drawer>

        <div class="example-sidenav-content">
            <!-- <div>
                <img class="profile-img" src="../assets/img//my-profile.png" alt="" /><br />
                <h1>Name : Jakkit wangnong</h1>
                <h2>Nick name : Arm</h2>
                <p>Contract Me</p>
                <p>Email : Jakkitw.work@gmail.com</p>
                <p>Tel : 0929050811</p>
            </div> -->
            <router-outlet> </router-outlet>
        </div>
    </mat-drawer-container>
</div>